body {
  background: #bbf858;
}

h1,
p {
  text-align: center;
}

.Pancake-photo {
  display: block;
  max-width: 100%;
  border-radius: 15px;
  margin: 34px auto;
}

footer {
  text-align: center;
}

footer a {
  margin: 0 15px;
  color: green;
}
